<div class="container-fluid">
	<h2 style="text-align:center">Reports-History</h2>

	<div class="form-group">
		<div class="form-horizontal form-inline">
			<select class="form-control">
				<option>Project 1</option>
				<option>Project 2</option>
				<option>Project 3</option>
				<option>Project 4</option>
			</select>
		</div>
	</div>

	<div class="container-fluid" style="border:1px solid black">
		<h6 style="margin-bottom:10px">Trend</h6>
		<div style="height:260px;overflow:auto">
			<div class="container-fluid" style="float:left;margin:0;padding:5px;height:250px;width:33%">
				<canvas style="float:left" id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"></canvas>
			</div>
			<div class="container-fluid" style="float:left;margin:0;padding:5px;height:250px;width:33%">
				<canvas style="float:left" id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"></canvas>
			</div>
			<div class="container-fluid" style="float:left;margin:0;padding:5px;height:250px;width:33%">
				<canvas style="float:left" id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"></canvas>
			</div>
			<div class="container-fluid" style="float:left;margin:0;padding:5px;height:250px;width:33%">
				<canvas style="float:left" id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"></canvas>
			</div>
			<div class="container-fluid" style="float:left;margin:0;padding:5px;height:250px;width:33%">
				<canvas style="float:left" id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"></canvas>
			</div>
			<div class="container-fluid" style="float:left;margin:0;padding:5px;height:250px;width:33%">
				<canvas style="float:left" id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"></canvas>
			</div>
			<div class="container-fluid" style="float:left;margin:0;padding:5px;height:250px;width:33%">
				<canvas style="float:left" id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"></canvas>
			</div>
			<div class="container-fluid" style="float:left;margin:0;padding:5px;height:250px;width:33%">
				<canvas style="float:left" id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"></canvas>
			</div>
			<div class="container-fluid" style="float:left;margin:0;padding:5px;height:250px;width:33%">
				<canvas style="float:left" id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"></canvas>
			</div>
			<div class="container-fluid" style="float:left;margin:0;padding:5px;height:250px;width:33%">
				<canvas style="float:left" id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"></canvas>
			</div>
			<div class="container-fluid" style="float:left;margin:0;padding:5px;height:250px;width:33%">
				<canvas style="float:left" id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"></canvas>
			</div>


		</div>
	</div>

	<hr style="border:1px solid black !important;width:100% !important;margin-left:5px !important;margin-right:10px !important;margin-top:25px !important;margin-bottom:25px !important">

	<div class="container-fluid" style="border:1px solid black">
		<h6 style="margin-bottom:10px">Most Failed Test Cases</h6>
		<div class="container-fluid" style="padding-top:15px;height:250px;overflow:auto">
			<table style="width:100%" class="table-bordered table-hover table-striped table-responsive">
				<thead>
					<tr>
						<th>Test Case Name</th>
						<th>Description</th>
						<th>Test Suite Name</th>
						<th>Fall count</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Add Earning code test</td>
						<td>verify adding earning code</td>
						<td>payroll</td>
						<td>45</td>
					</tr>
					<tr>
						<td>Add Earning code test</td>
						<td>verify adding earning code</td>
						<td>payroll</td>
						<td>45</td>
					</tr>
					<tr>
						<td>Add Earning code test</td>
						<td>verify adding earning code</td>
						<td>payroll</td>
						<td>45</td>
					</tr>
					<tr>
						<td>Add Earning code test</td>
						<td>verify adding earning code</td>
						<td>payroll</td>
						<td>45</td>
					</tr>
					<tr>
						<td>Add Earning code test</td>
						<td>verify adding earning code</td>
						<td>payroll</td>
						<td>45</td>
					</tr>
					<tr>
						<td>Add Earning code test</td>
						<td>verify adding earning code</td>
						<td>payroll</td>
						<td>45</td>
					</tr>
					<tr>
						<td>Add Earning code test</td>
						<td>verify adding earning code</td>
						<td>payroll</td>
						<td>45</td>
					</tr>
					<tr>
						<td>Add Earning code test</td>
						<td>verify adding earning code</td>
						<td>payroll</td>
						<td>45</td>
					</tr>
					<tr>
						<td>Add Earning code test</td>
						<td>verify adding earning code</td>
						<td>payroll</td>
						<td>45</td>
					</tr>
					<tr>
						<td>Add Earning code test</td>
						<td>verify adding earning code</td>
						<td>payroll</td>
						<td>45</td>
					</tr>
					<tr>
						<td>Add Earning code test</td>
						<td>verify adding earning code</td>
						<td>payroll</td>
						<td>45</td>
					</tr>
					<tr>
						<td>Add Earning code test</td>
						<td>verify adding earning code</td>
						<td>payroll</td>
						<td>45</td>
					</tr>
					<tr>
						<td>Add Earning code test</td>
						<td>verify adding earning code</td>
						<td>payroll</td>
						<td>45</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
