<div class="container-fluid">
	<div class="row">
		<h2 style="text-align:center">Executive Summary</h2>
	</div>
	<div class="row">
		<div class="col-md-6" style="height:300px;overflow:auto; border:1px solid black">
			<table class="table table-responsive table-hover table-bordered table-striped">
				<thead>
					<tr>
						<th>Option 1</th>
						<th>Option 2</th>
						<th>Option 3</th>
						<th>Option 4</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>item001</td>
						<td>item002</td>
						<td>item003</td>
						<td>item004</td>
					</tr>
					<tr>
						<td>item001</td>
						<td>item002</td>
						<td>item003</td>
						<td>item004</td>
					</tr>
					<tr>
						<td>item001</td>
						<td>item002</td>
						<td>item003</td>
						<td>item004</td>
					</tr>
					<tr>
						<td>item001</td>
						<td>item002</td>
						<td>item003</td>
						<td>item004</td>
					</tr>
					<tr>
						<td>item001</td>
						<td>item002</td>
						<td>item003</td>
						<td>item004</td>
					</tr>
					<tr>
						<td>item001</td>
						<td>item002</td>
						<td>item003</td>
						<td>item004</td>
					</tr>
					<tr>
						<td>item001</td>
						<td>item002</td>
						<td>item003</td>
						<td>item004</td>
					</tr>
					<tr>
						<td>item001</td>
						<td>item002</td>
						<td>item003</td>
						<td>item004</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6" style="height:300px; border:1px solid black;">
			<canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options">
			</canvas>

		</div>
	</div>

	<div class="row">
		<div class="col-md-12" style="width:100%; height:380px;padding-top:20px; border:1px solid black;">
			<canvas id="line" height="90%" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"> </canvas>

		</div>
	</div>

</div>


<!--option1-pie.js  ---- piecontroller-->