<div class="container-fluid">
	<h1 style="text-align:center">Reports</h1>
	<div class="row" style="border:1px solid black">
		<div class="col-md-12" style=" height:165px;overflow:auto">
			<h6>Test Case Details</h6>

			<br>
			<p>Name</p>
			<p>Status</p>
			<p>Text Label</p>
			<br>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam hic dolor, recusandae error labore placeat nihil dolorum quo beatae laudantium autem velit officia rerum quas iste facilis inventore! Distinctio, autem.</p>
			<p>A aspernatur alias aliquam, ipsum quis consequuntur. Beatae voluptatum recusandae quaerat, suscipit rerum quod. Molestias sapiente, voluptatem culpa neque ab tempora labore laborum vel, autem possimus. Numquam cumque, adipisci totam.</p>
			<p>Neque accusantium mollitia eaque molestias doloremque perferendis ullam, excepturi ipsum, ipsa molestiae fugit. Iure, nam, molestias. Velit commodi atque consequatur labore sapiente maxime laudantium, totam, error eligendi illo quas nobis.</p>
			<p>Aut quidem delectus odit officia sunt at quos odio deleniti minima soluta explicabo rem provident tempore, eveniet iure mollitia eaque labore perspiciatis blanditiis ab neque, optio. Consequuntur nam hic, dolorum.</p>
			<p>Veniam et laborum nulla. Non ipsa dolorum repudiandae est! Iure aut, molestiae quaerat? Dolore omnis veniam tempore consequatur repellat esse, et, repellendus eligendi aperiam provident repudiandae at ipsum officiis placeat!</p>

		</div>
	</div>



	<hr style="border:1px solid black !important;width:100% !important;margin-left:5px !important;margin-right:10px !important;margin-top:25px !important;margin-bottom:10px !important">


	<div class="row">
		<div class="col-md-12" style="margin-top:15px;padding:20px;height:500px;border:1px solid black">
			<h6 style="text-align:left">Test Step Details</h6>
			<div class="container-fluid" style="height:420px;overflow:auto">
				<table style="width:100%;" class="table-hover table-bordered table-striped table-responsive">
					<thead>
						<tr>
							<th>Test Suite Name</th>
							<th>Start Time</th>
							<th>Finish Time</th>
							<th>Passed</th>
							<th>Failed</th>
							<th>Skipped</th>
							<th>Environment</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Payroll</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>150</td>
							<td>30</td>
							<td>22</td>
							<td>StageR</td>

						</tr>
						<tr>
							<td>Benefits</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>110</td>
							<td>22</td>
							<td>11</td>
							<td>StageR</td>
						</tr>
						<tr>
							<td>On Boarding</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>86</td>
							<td>12</td>
							<td>33</td>
							<td>StageR</td>
						</tr>
						<tr>
							<td>Payroll</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>150</td>
							<td>30</td>
							<td>22</td>
							<td>StageR</td>

						</tr>
						<tr>
							<td>Benefits</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>110</td>
							<td>22</td>
							<td>11</td>
							<td>StageR</td>
						</tr>
						<tr>
							<td>On Boarding</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>86</td>
							<td>12</td>
							<td>33</td>
							<td>StageR</td>
						</tr>
						<tr>
							<td>Payroll</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>150</td>
							<td>30</td>
							<td>22</td>
							<td>StageR</td>

						</tr>
						<tr>
							<td>Benefits</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>110</td>
							<td>22</td>
							<td>11</td>
							<td>StageR</td>
						</tr>
						<tr>
							<td>On Boarding</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>86</td>
							<td>12</td>
							<td>33</td>
							<td>StageR</td>
						</tr>
						<tr>
							<td>Payroll</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>150</td>
							<td>30</td>
							<td>22</td>
							<td>StageR</td>

						</tr>
						<tr>
							<td>Benefits</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>110</td>
							<td>22</td>
							<td>11</td>
							<td>StageR</td>
						</tr>
						<tr>
							<td>On Boarding</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>86</td>
							<td>12</td>
							<td>33</td>
							<td>StageR</td>
						</tr>
						<tr>
							<td>Payroll</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>150</td>
							<td>30</td>
							<td>22</td>
							<td>StageR</td>

						</tr>
						<tr>
							<td>Benefits</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>110</td>
							<td>22</td>
							<td>11</td>
							<td>StageR</td>
						</tr>
						<tr>
							<td>On Boarding</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>86</td>
							<td>12</td>
							<td>33</td>
							<td>StageR</td>
						</tr>
						<tr>
							<td>Payroll</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>150</td>
							<td>30</td>
							<td>22</td>
							<td>StageR</td>

						</tr>
						<tr>
							<td>Benefits</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>110</td>
							<td>22</td>
							<td>11</td>
							<td>StageR</td>
						</tr>
						<tr>
							<td>On Boarding</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>86</td>
							<td>12</td>
							<td>33</td>
							<td>StageR</td>
						</tr>
						<tr>
							<td>Payroll</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>150</td>
							<td>30</td>
							<td>22</td>
							<td>StageR</td>

						</tr>
						<tr>
							<td>Benefits</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>110</td>
							<td>22</td>
							<td>11</td>
							<td>StageR</td>
						</tr>
						<tr>
							<td>On Boarding</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>86</td>
							<td>12</td>
							<td>33</td>
							<td>StageR</td>
						</tr>
						<tr>
							<td>Payroll</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>150</td>
							<td>30</td>
							<td>22</td>
							<td>StageR</td>

						</tr>
						<tr>
							<td>Benefits</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>110</td>
							<td>22</td>
							<td>11</td>
							<td>StageR</td>
						</tr>
						<tr>
							<td>On Boarding</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>86</td>
							<td>12</td>
							<td>33</td>
							<td>StageR</td>
						</tr>

						<tr>
							<td>Payroll</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>150</td>
							<td>30</td>
							<td>22</td>
							<td>StageR</td>

						</tr>
						<tr>
							<td>Benefits</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>110</td>
							<td>22</td>
							<td>11</td>
							<td>StageR</td>
						</tr>
						<tr>
							<td>On Boarding</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>86</td>
							<td>12</td>
							<td>33</td>
							<td>StageR</td>
						</tr>

						<tr>
							<td>Payroll</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>150</td>
							<td>30</td>
							<td>22</td>
							<td>StageR</td>

						</tr>
						<tr>
							<td>Benefits</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>110</td>
							<td>22</td>
							<td>11</td>
							<td>StageR</td>
						</tr>
						<tr>
							<td>On Boarding</td>
							<td>03/01/2016 3:45PM</td>
							<td>03/01/2016 6:30PM</td>
							<td>86</td>
							<td>12</td>
							<td>33</td>
							<td>StageR</td>
						</tr>

					</tbody>

				</table>
			</div>

		</div>

	</div>

</div>
