<div class="container-fluid">
	<h2 style="text-align:center">Reports</h2>
	<div class="form-group">
		<div class="form-horizontal form-inline">
			<select class="form-control">
				<option>Project 1</option>
				<option>Project 2</option>
				<option>Project 3</option>
				<option>Project 4</option>
			</select>
		</div>
	</div>


	<div class="container-fluid" style="margin-top:15px;padding:20px;height:320px;border:1px solid black">
		<h6 style="text-align:left">Last Run</h6>

		<div class="container-fluid" style="height:230px;overflow:auto">
			<table style="width:100%;" class="table-hover table-bordered table-striped table-responsive">
				<thead>
					<tr>
						<th>Test Suite Name</th>
						<th>Start Time</th>
						<th>Finish Time</th>
						<th>Passed</th>
						<th>Failed</th>
						<th>Skipped</th>
						<th>Environment</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Payroll</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>150</td>
						<td>30</td>
						<td>22</td>
						<td>StageR</td>

					</tr>
					<tr>
						<td>Benefits</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>110</td>
						<td>22</td>
						<td>11</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>On Boarding</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>86</td>
						<td>12</td>
						<td>33</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>Payroll</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>150</td>
						<td>30</td>
						<td>22</td>
						<td>StageR</td>

					</tr>
					<tr>
						<td>Benefits</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>110</td>
						<td>22</td>
						<td>11</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>On Boarding</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>86</td>
						<td>12</td>
						<td>33</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>Payroll</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>150</td>
						<td>30</td>
						<td>22</td>
						<td>StageR</td>

					</tr>
					<tr>
						<td>Benefits</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>110</td>
						<td>22</td>
						<td>11</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>On Boarding</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>86</td>
						<td>12</td>
						<td>33</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>Payroll</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>150</td>
						<td>30</td>
						<td>22</td>
						<td>StageR</td>

					</tr>
					<tr>
						<td>Benefits</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>110</td>
						<td>22</td>
						<td>11</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>On Boarding</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>86</td>
						<td>12</td>
						<td>33</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>Payroll</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>150</td>
						<td>30</td>
						<td>22</td>
						<td>StageR</td>

					</tr>
					<tr>
						<td>Benefits</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>110</td>
						<td>22</td>
						<td>11</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>On Boarding</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>86</td>
						<td>12</td>
						<td>33</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>Payroll</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>150</td>
						<td>30</td>
						<td>22</td>
						<td>StageR</td>

					</tr>
					<tr>
						<td>Benefits</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>110</td>
						<td>22</td>
						<td>11</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>On Boarding</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>86</td>
						<td>12</td>
						<td>33</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>Payroll</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>150</td>
						<td>30</td>
						<td>22</td>
						<td>StageR</td>

					</tr>
					<tr>
						<td>Benefits</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>110</td>
						<td>22</td>
						<td>11</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>On Boarding</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>86</td>
						<td>12</td>
						<td>33</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>Payroll</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>150</td>
						<td>30</td>
						<td>22</td>
						<td>StageR</td>

					</tr>
					<tr>
						<td>Benefits</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>110</td>
						<td>22</td>
						<td>11</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>On Boarding</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>86</td>
						<td>12</td>
						<td>33</td>
						<td>StageR</td>
					</tr>

					<tr>
						<td>Payroll</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>150</td>
						<td>30</td>
						<td>22</td>
						<td>StageR</td>

					</tr>
					<tr>
						<td>Benefits</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>110</td>
						<td>22</td>
						<td>11</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>On Boarding</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>86</td>
						<td>12</td>
						<td>33</td>
						<td>StageR</td>
					</tr>

					<tr>
						<td>Payroll</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>150</td>
						<td>30</td>
						<td>22</td>
						<td>StageR</td>

					</tr>
					<tr>
						<td>Benefits</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>110</td>
						<td>22</td>
						<td>11</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>On Boarding</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>86</td>
						<td>12</td>
						<td>33</td>
						<td>StageR</td>
					</tr>

				</tbody>

			</table>
		</div>
	</div>

	<hr style="border:1px solid black !important;width:100% !important;margin-left:5px !important;margin-right:10px !important;margin-top:15px !important;margin-bottom:15px !important">

	<div class="container-fluid" style="margin-top:15px;padding:20px;height:320px;border:1px solid black">
		<h6 style="text-align:left">Test Case Details</h6>
		<div class="container-fluid" style="height:230px;overflow:auto">
			<table style="width:100%;" class="table-hover table-bordered table-striped table-responsive">
				<thead>
					<tr>
						<th>Test Suite Name</th>
						<th>Start Time</th>
						<th>Finish Time</th>
						<th>Passed</th>
						<th>Failed</th>
						<th>Skipped</th>
						<th>Environment</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Payroll</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>150</td>
						<td>30</td>
						<td>22</td>
						<td>StageR</td>

					</tr>
					<tr>
						<td>Benefits</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>110</td>
						<td>22</td>
						<td>11</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>On Boarding</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>86</td>
						<td>12</td>
						<td>33</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>Payroll</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>150</td>
						<td>30</td>
						<td>22</td>
						<td>StageR</td>

					</tr>
					<tr>
						<td>Benefits</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>110</td>
						<td>22</td>
						<td>11</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>On Boarding</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>86</td>
						<td>12</td>
						<td>33</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>Payroll</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>150</td>
						<td>30</td>
						<td>22</td>
						<td>StageR</td>

					</tr>
					<tr>
						<td>Benefits</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>110</td>
						<td>22</td>
						<td>11</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>On Boarding</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>86</td>
						<td>12</td>
						<td>33</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>Payroll</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>150</td>
						<td>30</td>
						<td>22</td>
						<td>StageR</td>

					</tr>
					<tr>
						<td>Benefits</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>110</td>
						<td>22</td>
						<td>11</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>On Boarding</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>86</td>
						<td>12</td>
						<td>33</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>Payroll</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>150</td>
						<td>30</td>
						<td>22</td>
						<td>StageR</td>

					</tr>
					<tr>
						<td>Benefits</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>110</td>
						<td>22</td>
						<td>11</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>On Boarding</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>86</td>
						<td>12</td>
						<td>33</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>Payroll</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>150</td>
						<td>30</td>
						<td>22</td>
						<td>StageR</td>

					</tr>
					<tr>
						<td>Benefits</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>110</td>
						<td>22</td>
						<td>11</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>On Boarding</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>86</td>
						<td>12</td>
						<td>33</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>Payroll</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>150</td>
						<td>30</td>
						<td>22</td>
						<td>StageR</td>

					</tr>
					<tr>
						<td>Benefits</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>110</td>
						<td>22</td>
						<td>11</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>On Boarding</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>86</td>
						<td>12</td>
						<td>33</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>Payroll</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>150</td>
						<td>30</td>
						<td>22</td>
						<td>StageR</td>

					</tr>
					<tr>
						<td>Benefits</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>110</td>
						<td>22</td>
						<td>11</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>On Boarding</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>86</td>
						<td>12</td>
						<td>33</td>
						<td>StageR</td>
					</tr>

					<tr>
						<td>Payroll</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>150</td>
						<td>30</td>
						<td>22</td>
						<td>StageR</td>

					</tr>
					<tr>
						<td>Benefits</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>110</td>
						<td>22</td>
						<td>11</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>On Boarding</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>86</td>
						<td>12</td>
						<td>33</td>
						<td>StageR</td>
					</tr>

					<tr>
						<td>Payroll</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>150</td>
						<td>30</td>
						<td>22</td>
						<td>StageR</td>

					</tr>
					<tr>
						<td>Benefits</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>110</td>
						<td>22</td>
						<td>11</td>
						<td>StageR</td>
					</tr>
					<tr>
						<td>On Boarding</td>
						<td>03/01/2016 3:45PM</td>
						<td>03/01/2016 6:30PM</td>
						<td>86</td>
						<td>12</td>
						<td>33</td>
						<td>StageR</td>
					</tr>

				</tbody>

			</table>
		</div>

	</div>

</div>
