@import url('https://fonts.googleapis.com/css?family=Ruslan+Display');
#wrapper {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}


/*sidebar*/

#sidebar {
	width: 180px;
	height: 100%;
	padding-top: 40px;
	position: fixed;
	background-color: black;
}

#sidebar .sidebar-nav li {
	margin-left: -35px;
	display: block;
	line-height: 3em;
}

#sidebar .sidebar-nav li a {
	color: aliceblue;
	font-size: 1.3em;
	margin-left: 25px;
}

#sidebar .sidebar-nav li:hover {
	background-color: darkgrey;
}


/*header*/

#header {
	position: absolute;
	left: 180px;
	float: left;
	padding-right: 239px;
	background-color: black;
}

#header #menu {
	margin-top: 40px;
	margin-left: 20px;
}

#header #title {
	font-family: 'Ruslan Display', cursive;
	text-align: center;
	margin-top: -50px;
	padding-left: 50px;
	margin-left: 180px;
	color: coral;
	font-size: 4em;
}

#total {
	margin-left: 180px;
	top: 95px;
	padding-top: 20px;
	padding-left: 20px;
	position: fixed;
	height: 89.4%;
}